<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Plugboard" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body>
    <div class="flex min-h-screen">
      <.sidebar class="justify-between">
        <div class="space-y-4">
          <%= if @current_scope do %>
            <.icon_button
              href={~p"/users/settings"}
              icon="hero-cog-6-tooth"
              tooltip="Settings"
            />
            <.icon_button
              href={~p"/users/log-out"}
              icon="hero-arrow-right-on-rectangle"
              tooltip="Log out"
              method="delete"
            />
          <% else %>
            <.icon_button
              href={~p"/users/log-in"}
              icon="hero-arrow-right-end-on-rectangle"
              tooltip="Log in"
            />
            <.icon_button
              href={~p"/users/register"}
              icon="hero-user-plus"
              tooltip="Register"
            />
          <% end %>
        </div>
        <div>
          <.tooltip text="Theme" position="right">
            <button
              class="flex items-center justify-center w-8 h-8 rounded-full [[data-theme=dark]_&]:hover:bg-white [[data-theme=light]_&]:hover:bg-gray-800 transition-colors group"
              onclick="
              const current = document.documentElement.getAttribute('data-theme');
              const newTheme = current === 'dark' ? 'light' : 'dark';
              localStorage.setItem('phx:theme', newTheme);
              document.documentElement.setAttribute('data-theme', newTheme);
            "
            >
              <.icon
                name="hero-sun"
                class="w-4 h-4 pointer-events-none [[data-theme=dark]_&]:group-hover:text-gray-800 [[data-theme=light]_&]:group-hover:text-white [[data-theme=dark]_&]:hidden"
              />
              <.icon
                name="hero-moon"
                class="w-4 h-4 pointer-events-none [[data-theme=dark]_&]:group-hover:text-gray-800 [[data-theme=light]_&]:group-hover:text-white [[data-theme=light]_&]:hidden"
              />
            </button>
          </.tooltip>
        </div>
      </.sidebar>
      <div class="flex-1 ml-12">
        {@inner_content}
      </div>
    </div>
  </body>
</html>
