export SECRET_KEY_BASE=L/sSVoEZx1gx6Y9W42sA9olERuHL/MgOqVDw1IyGZ6dspIaT1+RZc1iw/+PRbExu0whMJcToW97XhOuxETlBqg==
export PHX_SIGNING_SALT=d0Ota4oWgbF8FnoqOGKah5FNBzCF/kg6wdVCjl/K/HAyeTl5+Rs0INQaMzBrKbxz/NnN4LSrYhEgRP3R2q8Yqg==
export PHX_ENCRYPTION_SALT=SQLSDKa3S4fjcAxaSb9VvjHyktVcnvqOESkBiaf9M3PYA1e99P8PTzt/v1wLpV3J9Z86CmjwmJUz1wNyALvHSA==
export PHX_HOST=localhost
export PHX_PORT=4000
export PHX_POOL_SIZE=10
export PHX_DEVELOPMENT_DATABASE_URL=ecto://vera:vera@localhost/
export PHX_TEST_DATABASE_URL=ecto://vera:vera@localhost/vera_test
export PHX_PRODUCTION_DATABASE_URL=ecto://vera:vera@postgres/vera_production
export PHX_POSTGRES_USERNAME=vera
export PHX_POSTGRES_PASSWORD=vera
export PHX_POSTGRES_DATABASE=vera
export PHX_POSTGRES_PORT=5432
export PHX_GENSTAGE_ENTITY_MAX_AGE=30000
export PHX_GENSTAGE_CLEANUP_INTERVAL=1000
export PHX_ACCOUNT_TOKEN_VALIDITY_IN_DAYS=90
export PHX_SERVICE_TOKEN_VALIDITY_IN_DAYS=90
export PHX_RESET_PASSWORD_VALIDITY_IN_DAYS=1
export PHX_CONFIRM_VALIDITY_IN_DAYS=1
export PHX_CHANGE_EMAIL_VALIDITY_IN_DAYS=1
export PHX_SESSION_VALIDITY_IN_DAYS=1
